/* Daftar Page Styling */
/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #f5f5f5; */
    background: url('../images/bangunan-baru.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bangunan-baru.jpeg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px); /* Adjust blur intensity */
    z-index: -1;
}

.registration-form {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto; /* Center the form vertically */
}

/* Image styling */
.registration-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-image img {
    max-width: 100%; /* Responsive image */
    height: auto;
    border-top-left-radius: 15px; /* Rounded corners on the left */
    border-bottom-left-radius: 15px;
}

/* Custom input fields */
.custom-input {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border-radius: 20px; /* Rounded input borders */
    border: 1px solid #ccc; /* Subtle border */
    padding: 7px; /* Padding for the input */
    color: #5b5b5b; /* Text color */
    width: 100%; /* Full width */
    transition: border-color 0.3s ease; /* Smooth transition on focus */
}

.custom-input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #0D2B52; /* Change border color when focused */
    background-color: rgba(255, 255, 255, 0.8); /* Slightly opaque on focus */
}

/* Button styling for Daftar */
.btn-primary {
    background-color: #2d4a56; /* Custom background color */
    border: 1px solid #2d4a56; /* Custom border color */
    border-radius: 50px; /* Rounded corners */
    font-size: 1rem; /* Adjust the size of the button text */
    padding: 10px 10px; /* Padding for better proportions */
    color: white; /* Text color */
    width: 50%; /* Full width button */
    text-align: center; /* Center the button text */
    display: block; /* Ensures it behaves like a block element for width */
    margin: 0 auto; /* Center the button */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.btn-primary:hover {
    background-color: #0a5777; /* Change this to a darker color on hover */
    border-color: #0a5777; /* Keep the same border color on hover */
}

.btn-primary:active {
    background-color: #182f39; /* Even darker color when the button is clicked */
    border-color: #182f39; /* Even darker border when clicked */
}


@media (max-width: 768px) {
    .bg-light {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
        height: 0 !important;
        overflow: hidden !important;
    }
}
